.btn-outline-success:hover {
    color: #fff;
    background-color: #871966;
    border-color: #871966;
}
.btn-outline-success {
    color: #871966;
    border-color: #871966;
}
#navbarNavDropdown {
margin-left: 15%;    }
.c2{
    color: #fff;
    background-color: #871966c9;
}
.c2:hover{
    color: #fff;
    background-color: #871966;
}
#div1{
    top: 0;
    right:0;
    left:0;
position:fixed ;}
#Home{
    background-color: ghostwhite;
}
p{text-align: justify;}
h2 {
    text-align: center;
}